@charset "utf-8";
@import "../../../node_modules/bulma/sass/utilities/functions";

@import url('https://fonts.googleapis.com/css?family=Urbanist:500,600,700,800');

$family-primary: Urbanist;

$primary: #DC2305;
$link: #026C7C;
$danger: #8A0005;

@import "../../../node_modules/bulma/bulma.sass";
